html,
body,
#root {
  & {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
}

#root {
  & > div[data-overlay-container] {
    &,
    main {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
  }
}
